* {
    margin: 0;
    box-sizing: border-box;
}

/*CSS cho button*/
button {
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: #0daded; 
    color: rgb(0, 0, 0); 
    border: none; 
    cursor: pointer; 
    border-radius: 8px; 
}
button:hover {
    background-color: #1e0778; 
    color: rgb(252, 249, 249); 
}

/* CSS cho notification--------------------------------------------------------------------------------------------------------------*/
.notification {
    position: fixed; /*Cố định phần tử khi cuộn trang*/
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    display: flex; 
    font-size: 18px;
    flex-direction: column; 
    align-items: center; 
}
.notification button {
    border: none;
    cursor: pointer; /*Biến con trỏ chuột thành ngón tay*/
    border-radius: 4px;
    margin-top: 10px; 
    padding: 8px 15px; 
}
.notification.hidden {
    display: none;
}


/*Các class lớn----------------------------------------------------------------------------------------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
}
.screen {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.bgr_img {
    position: absolute;
    width: 100%;
    height: 100%;  
    z-index: -1; 
    background-size: cover;
    background-position: center;
}
.input_container {
    margin-top: 80vh;
    text-align: center;
}
.content_wrapper {
    display: flex;
    width: 100%; 
    height: 100%; 
}

/*Hình nền các screen----------------------------------------------------------------------------------------------------------------*/
#start_img {
    background-image: url('img/background_start.jpg');
}

#level_img {
    background-image: url('img/background_level.jpg');
}

#game_img {
    background-image: url('img/background_game.jpg');
}

/*CSS cho start_screen----------------------------------------------------------------------------------------------------------------*/
#name {
    padding: 15px; 
    font-size: 19px; 
    border: 2px solid #ccc;
    border-radius: 8px; 
    margin-right: 10px; 
    width: 200px; 
}
#name:focus {
    outline: none; 
    border-color:#007bff; 
}


/*CSS cho level_screen----------------------------------------------------------------------------------------------------------------*/
.left_pane, .right_pane {    
    flex: 1; /* Mỗi phần chiếm 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.level_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.level_options button {
    padding: 10px 20px ;
    font-size: 40px; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    margin: 20px; 
}

.level_options h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}



/* CSS cho game screen --------------------------------------------------------------------------------------------------------------*/
#game {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 100%; 
    margin-bottom: 20px; 
    color: rgb(255, 255, 255); 
    position: absolute; 
    bottom: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_pane_game {
    width: 25%;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.right_pane_game {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#question {
    font-size: 35px;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid rgb(213, 214, 215);
    background-color: #1f1e1e;
    border-radius: 10px;
}
#question_container {
    width: 100%; 
    max-width: 100%; 
    text-align: center;
}
#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* hai cột có (1fr) chiều rộng bằng nhau */
    gap: 10px; /* Khoảng cách giữa các ô */
    margin-bottom: 20px;
}
#answers button {
    padding: 10px 20px;
    font-size: 23px;
    background-color: #f5f9fb;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#answers button:hover {
    background-color: #bbafc0;
}
#info_table_wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 7px;
    background-color: #001038;
    border: 3px solid rgb(247, 247, 247);
}
#info_table {
    width: 100%;
    border-collapse: collapse;
}
#info_table th, #info_table td {
    padding: 4px;
    text-align: center;
} 
#info_table th {
    background-color: #4266ae;
}
/* Căn chỉnh nút trong game_screen */
.button_container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#next_btn, #stop_btn {
    font-size: 20px;
    background-color: #161616;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
#next_btn:hover, #stop_btn:hover {
    background-color: #605e5e;
    color: rgb(19, 19, 19);
}
#answers button.selected {
    animation: blink 1s steps(5, start) infinite;
}
#timer {
    font-size: 40px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid white;
    margin-bottom: 50px; 
}
.support_container {
    display: flex;
    justify-content: space-around;
    margin: 0px 0;
    margin-left: auto; 
    margin-bottom: 10px;
}
.support_btn {
    border: none;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
@keyframes blink {
    0%, 50%, 100% {
        visibility: visible;
    }
    25%, 75% {
        visibility: hidden;
    }
}
#answers button.selected {
    animation: blink 0.4s steps(1, start) 5;
}

#answers button.correct {
    background-color: rgb(103, 244, 56);
    color: black;
    animation: none;
}
#answers button.incorrect {
    background-color: red;
    color: white;
    animation: none;
}

/* CSS cho resul_screen------------------------------------------------------------------------------------------------------------- */
#result_screen h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.left_pane_result {
    width: 60%;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.right_pane_result {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right_pane_result .account_info,
.right_pane_result .bank_selection {
    margin-top: 20px;
}
.right_pane_result label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.right_pane_result input[type="text"],
.right_pane_result select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.chart_container {
    width: 70%; 
    max-width: 400px;
    margin: 15px auto; 
}
#result_chart {
    width: 100%;
    height: auto; 
}
.money_current {
    background-color: white;
    color: black;
    font-weight: bold; 
}
.used {
    background-color: #383937; 
    color: white;
}